


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
  line-height: 2;
  color: $san-marino;
  text-transform: uppercase;
  margin: 0;
  line-height: inherit;
}


h1, .h1,
h2, .h2,
h3, .h3 {

}

h4, .h4,
h5, .h5,
h6, .h6 {

}

h1, .h1 {

	}
h2, .h2 {

	 }
h3, .h3 {

	 }
h4, .h4 {

	 }
h5, .h5 {

}
h6, .h6 {
 }


// Body text
// -------------------------

p {
	color: $mine-shaft;
}


// Lists
// -------------------------

ul,
ol {

  ul,
  ol {

  }
}

